name: CI

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  test:
    name: ${{ matrix.platform }} Tests with Swift ${{ matrix.swift }}
    strategy:
      fail-fast: false
      matrix:
        platform: ["macOS", "ubuntu", "iOS"]
        swift: ["6.2.3"]
        include:
          - platform: macOS
            os: macOS-latest
          - platform: ubuntu
            os: ubuntu-latest
          - platform: iOS
            os: macos-26
            destination: 'platform=iOS Simulator,OS=26.1,name=iPhone 17 Pro'
            xcode-version: '26.2' # Need to match Xcode version to iOS + Swift version
    runs-on: ${{ matrix.os }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install Swift
      if : ${{ matrix.platform != 'iOS' }}
      uses: swift-actions/setup-swift@v3.0.0-beta.1
      with:
        swift-version: "${{ matrix.swift }}"
        skip-verify-signature: ${{ matrix.os == 'ubuntu-latest' }}
    - name: Setup Xcode
      if : ${{ matrix.platform == 'iOS' }}
      uses: maxim-lobanov/setup-xcode@v1.6.0
      with:
        xcode-version: ${{ matrix.xcode-version }}
    - name: Run tests
      if : ${{ matrix.platform != 'iOS' }}
      run: swift test --enable-code-coverage
    - name: Run iOS tests
      id: ios-tests
      if : ${{ matrix.platform == 'iOS' }}
      run: |
        mkdir -p ../DerivedData
        DERIVED_DATA_PATH=$PWD/../DerivedData
        echo "DERIVED_DATA_PATH=$DERIVED_DATA_PATH" >> $GITHUB_ENV
        SCHEME=$(xcodebuild test -list -json | jq -r "if .workspace.schemes | length == 1 then .workspace.schemes.[0] else .workspace.schemes | map(select(.|endswith(\"-Package\"))) | .[0] end")
        xcodebuild test -skipPackagePluginValidation -enableCodeCoverage YES -scheme "$SCHEME" -destination "${{ matrix.destination }}" -derivedDataPath "$DERIVED_DATA_PATH"
    - name: Install lcov
      if: ${{ matrix.platform == 'iOS' }}
      run: brew install lcov
    - name: Create coverage directory
      run: |
        mkdir -p ./${{matrix.platform}}-coverage
        echo "${{ github.event.number }}" > "./${{matrix.platform}}-coverage/PR_NUMBER-${{matrix.platform}}"
    - name: Determine llvm command
      run: |
        LLVM_COV_CMD="llvm-cov"

        if [[ "$OSTYPE" == "darwin"* ]]; then
          PATH="/usr/local/opt/llvm/bin:${PATH}"
        else
          # Workaround for GitHub Actions ubuntu image missing llvm-cov in PATH, if swift is pre-installed
          # If it is installed via swift-actions/setup-swift, llvm-cov is in PATH
          PATH="/usr/share/swift/usr/bin:${PATH}"
        fi

        if ! command -v "${LLVM_COV_CMD}" &> /dev/null; then
          LLVM_COV_CMD="xcrun llvm-cov"
        fi

        echo "LLVM_COV_CMD=${LLVM_COV_CMD}" >> ${GITHUB_ENV}
        echo "PATH=${PATH}" >> ${GITHUB_ENV}
        echo "LLVM_COV_ARGS=--skip-functions --skip-branches --ignore-filename-regex=.build|Tests|SourcePackages --format=lcov" >> ${GITHUB_ENV}
        echo "OUTPUT_FILE=${{matrix.platform}}-coverage/${{matrix.platform}}.info" >> ${GITHUB_ENV}
    - name: Generate test coverage report
      if: ${{ matrix.platform != 'iOS' }}
      run: |
        INSTR_PROFILE_PATH=".build/debug/codecov/default.profdata"
        XCTEST_PATH="$(find $(swift build --show-bin-path) -name '*.xctest')"

        if [[ "${{matrix.platform}}" == "macOS" ]]; then
          COV_BIN="${XCTEST_PATH}/Contents/MacOS/$(basename ${XCTEST_PATH} .xctest)"
        elif [[ "${{matrix.platform}}" == "ubuntu" ]]; then
          COV_BIN="${XCTEST_PATH}"
        fi

        ${LLVM_COV_CMD} export "${COV_BIN}" ${LLVM_COV_ARGS} --instr-profile="${INSTR_PROFILE_PATH}" > "${OUTPUT_FILE}"
    - name: Generate iOS test coverage report
      if: ${{ matrix.platform == 'iOS' }}
      run: |
        INSTR_PROFILE_PATH="$(find "${DERIVED_DATA_PATH}" -name "*.profdata")"

        # Run llvm-cov for each .xctest bundle found in DerivedData, one per test target
        find "${DERIVED_DATA_PATH}" -name '*.xctest' -print0 | while IFS= read -r -d '' file; do
          FILE_NAME="$(basename "${file}" .xctest)"
          COV_BIN="${file}/${FILE_NAME}"
          ${LLVM_COV_CMD} export "${COV_BIN}" ${LLVM_COV_ARGS} --instr-profile="${INSTR_PROFILE_PATH}" > "${FILE_NAME}.lcov"
        done

        # Combine all .lcov files into a single lcov.info
        find . -maxdepth 1 -name "*.lcov" -exec echo -a {} \; | xargs lcov -o "${OUTPUT_FILE}"
    - name: Read minimum test coverage threshhold
      id: read-minimum-coverage
      run: echo "MINIMUM_COVERAGE=$(cat ./.github/minimum_coverage.txt)" >> $GITHUB_ENV
    - name: Enforce minimum test coverage threshhold
      id: enforce-minimum-coverage
      uses: VeryGoodOpenSource/very_good_coverage@v3.0.0
      with:
        path: ${{ env.OUTPUT_FILE }}
        min_coverage: ${{ env.MINIMUM_COVERAGE }}
    - name: Save failed minimum coverage info
      if: ${{ failure() && steps.enforce-minimum-coverage.outcome == 'failure' && steps.read-minimum-coverage.outcome == 'success' }}
      run: echo "failed" > "./${{matrix.platform}}-coverage/${{matrix.platform}}-min-coverage-failed"
    - name: Upload Coverage Information
      uses: actions/upload-artifact@v6
      if: ${{ !cancelled() && steps.read-minimum-coverage.outcome == 'success' }}
      with:
        name: ${{matrix.platform}}-coverage
        path: ${{matrix.platform}}-coverage/
