name: CI

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:
  get_os:
    name: Determine supported OS
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Check and output correct matrix
      id: output_data
      run: |
        macos='macOS-latest'
        if [ -e .github/macos_version.txt ]
        then
            macos=$(cat ./.github/macos_version.txt)
        fi
        if [ -e .github/macos_only ]
        then
            echo "platform_matrix=['$macos']" >> $GITHUB_OUTPUT
            echo "coverage_platform=$macos" >> $GITHUB_OUTPUT
            echo "macos_version=$macos" >> $GITHUB_OUTPUT
        else
            echo "platform_matrix=['$macos', 'ubuntu-latest', 'ios']" >> $GITHUB_OUTPUT
            echo "coverage_platform=ubuntu-latest" >> $GITHUB_OUTPUT
            echo "macos_version=$macos" >> $GITHUB_OUTPUT
        fi
    outputs:
        platform_matrix: ${{ steps.output_data.outputs.platform_matrix }}
        coverage_platform: ${{ steps.output_data.outputs.coverage_platform }}
        macos_version: ${{ steps.output_data.outputs.macos_version }}

  test:
    name: ${{ matrix.platform }} Tests
    needs: get_os
    strategy:
      fail-fast: false
      matrix:
        platform:  ${{fromJson(needs.get_os.outputs.platform_matrix)}}
    runs-on: ${{ matrix.platform == 'ios' && needs.get_os.outputs.macos_version || matrix.platform }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install Swift
      uses: swift-actions/setup-swift@v3
      with:
        swift-version: "6.2"
    - name: Run tests
      if : ${{ matrix.platform != 'ios' }}
      run: swift test --enable-code-coverage -Xswiftc -warnings-as-errors
    - name: Run iOS tests
      if : ${{ matrix.platform == 'ios' }}
      run: xcodebuild test -scheme "SwiftBeanCount-Package" -destination 'platform=iOS Simulator,OS=26.2,name=iPhone 17 Pro' -enableCodeCoverage YES
    - name: Save PR number
      if: ${{ matrix.platform == needs.get_os.outputs.coverage_platform }}
      run: |
        mkdir -p ./pr
        echo ${{ github.event.number }} > ./pr/NR
    - name: Generate test coverage report
      if: ${{ matrix.platform == needs.get_os.outputs.coverage_platform }}
      uses: maxep/spm-lcov-action@0.3.1
      with:
        output-file: ./pr/lcov.info
    - name: Upload Coverage Information for Comment
      if: ${{ matrix.platform == needs.get_os.outputs.coverage_platform }}
      uses: actions/upload-artifact@v6
      with:
        name: pr
        path: pr/
    - name: 'Read minimum coverage'
      if: ${{ matrix.platform == needs.get_os.outputs.coverage_platform }}
      run: echo "minimum_coverage=$(cat ./.github/minimum_coverage.txt)" >> $GITHUB_ENV
    - name: Enforce test coverage threshhold
      if: ${{ matrix.platform == needs.get_os.outputs.coverage_platform }}
      uses: VeryGoodOpenSource/very_good_coverage@v3.0.0
      with:
        path: ./pr/lcov.info
        min_coverage: ${{ env.minimum_coverage }}
