name: Documentation

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  test:
    name: Generate and Publish documentation
    runs-on: macOS-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6
    - name: Install Jazzy
      run: sudo gem install jazzy
    - name: Generate documentation
      run: swift package --allow-writing-to-directory docs \
        generate-documentation \
        --disable-indexing \
        --transform-for-static-hosting \
        --hosting-base-path SwiftBeanCount \
        --output-path docs
    - name: Publish documentation
      uses: peaceiris/actions-gh-pages@v4.0.0
      with:
        publish_dir: ./docs
        github_token: ${{ secrets.GITHUB_TOKEN }}
